nav.navbar.navbar-default
    .container-fluid
        .navbar-header
            p.navbar-brand Super Team Picker
    
        ul.nav
            li(style="padding-left: 1em")
                a(href="/") Home
            li(style="padding-left: 1em")
                a(href="/cohorts") Cohorts
            li(style="padding-left: 1em")
                a(href="/cohorts/new") New Cohort
